
    /* start navbar and banner */


header {
    background-color: #F7F9FE;
    background-image: url(../images/shape-a.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 87px;
    position: relative;
}



#logo
{
    font-size: 28px;
    color: #394B6C;
    font-weight: 900;
}

#logo span
{
    color: #4B6691;

}

nav ul li {
    font-size: 14px;
}



.color-btn {
    border-radius: 25px;
    background-color: #2B80EA;
    border: none;
    font-size: 14px;
    color:#fff;
}

.color-btn:hover {
    background-color: #2070d2 !important;
}

nav ul li a:hover {
    color: #2B80EA !important;
}

nav ul li #do:hover {
    color: #fff !important;
}

.bord-hov:hover {
    border: none;
}

@media (max-width: 1250px) 
{
    li {
        font-size: 13px;
    }
}

.banner-text-info h1 
{
    font-size: 85px;
    font-weight: 900;
    color: #50658e;
}

.banner-text-info span h3 
{
    font-size: 28px;
    color: #FF5363;
}

.banner-text-info span h2 
{
    font-size: 40px;
    color: #50658e;
}

.banner-text-info-text #about 
{
    color: #2a81ea;
    font-weight: bold;
    text-decoration: none;
}

.banner-text-number p:first-of-type
 {
    letter-spacing: 0.05em;
    color: #7d92bb;
    font-size: 12px;
    font-weight: bold;
}
.banner-text-number p:last-of-type 
{
    letter-spacing: 0.04em;
    color: #465675;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
}

.banner-text p.update
 {
    font-style: italic;
    font-size: 12px;
    color: #7d92bb;
 }
    /* end navbar and banner */





   /* start spread */
    .spread
    {
        background-color: #F7F9FE;
    }
    
    .spread h5
    {
        color: #2a81ea;
        letter-spacing: 0.1em;
        font-weight: bold;
    }
    
    .spread h2
    {
        color: #50658e;
        font-weight: 900;
        font-size: 42px;
    }
    .spread p
    {
        color: #3d4b69;
    
    }
    
    
    .spread img 
    {
        border-bottom: 6px solid #9cc2f7;
    }
    
    .spread .spread-box
    {
        box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
    }
    
    .spread .spread-box-text h3
    {
        color: #2a81ea;
        font-size: 18px;
        margin-bottom: 7px;
        font-weight: bold;
    }
    .spread .spread-box-text p
    {
        color: #3d4b69;
        line-height: 1.5em;
    }
    
    .spread .spread-button
    {
        margin: 100px auto 0;
        width: fit-content;
    }

    /* end spread */











    .section-donot {
        background-color: #F6F9FE;
    }
    
    .donot p {
        color: #50658E;
    }
    
    .donot h6 {
        color: #2B80EA;
        letter-spacing: 2px;
    }
    
    .yourself {
        font-family: 'Oswald', sans-serif;
        color: #50658E;
    }
    
    .image-do img {
    
        border-radius: 50%;
        border: 2px solid #2a81ea;
        background-color: #fff;
    
    
    }
    
    .avoid-font {
        font-size: 13px;
        color: #2B80EA;
    }
    
/* start symptoms */
    .symptoms-box
{
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
    position: relative;
    border-bottom: 3px solid #fff;
    height: 250px;
    
}

.symptoms-box-image 
{
    width: 80px;
    position: absolute;
    top: -20%;
    right: 9%;
}

.symptoms-box-text
{
    border-top: 3px solid #fff;
}
.symptoms-box-text h3
{
    color: #2a81ea;
    font-size: 16px;
    font-weight: bold;
}



.symptoms-box-text p span
{
    font-weight: bold;
}


.symptoms-text i
{
    color: #2a81ea;
    font-size: 45px;
    margin-right: 10px;
    align-self: flex-start;
}



.symptoms-text span
{
    color: #2a81ea;
    font-weight: bold;
    font-style: normal;
}

/* end symptoms */










/* start steps */

.steps
{
    background-color: #f7f9fe;

}
#steps-text-image
{
    background-color: #fff;
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
    margin: auto;
}

.steps-text h2
{
    color: #465675;
    font-size: 30px;
    font-weight: 600;
}

.steps .steps-text ul li {
    margin-bottom: 20px;
    display: flex;
    color: #3d4b69;
}

.steps .steps-text ul li span
{
    color: #3d4b69;
    font-weight: bold;
}
.icon
{
    color: #3dca93;
}


/* end steps  */




/* start hands */

.hands
{
    background-color: #f7f9fe;
}

.hands-text h2
{
    color: #465675;
    font-size: 30px;
}

.hands-text a
{
    text-decoration: none;
    color: #2a81ea;
    font-weight: bold;
}


.hands-box-text 
{
    color: #3d4b69;
    font-weight: bold;
    font-size: 14px;
}

.hands-box-image img 
{
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
}

/* end hands */




/* start carefull */
.carefull 
{
    background-color: #2766bb;
    background-image: url(../images/shape-a.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
    height: 600px;

}

#care-left-text h5 
{
    color: #73e3ff;
    font-size: 18px;
    letter-spacing: 0.1em;
}

#care-left-text h2 
{
    color: #fff;
    font-size: 32px;
    font-weight: 900;
}

#care-left-text p 
{
    line-height: 1.5em;
    color: #ced4ff;
}

#care-left-text p span 
{
    font-weight: bold;
    color: #fff;
}

#care-right-text 
{
    background-color: #1b47a1;
    border-radius: 5px;
}

#care-right-text p 
{
    line-height: 1.5em;
    color: #fff;
}
#care-right-text h6
{
font-weight: bold;
}


/* end carefull */





/* start blog */
.blog 
{
    background-color: #f7f9fe;
}
.blog-box 
{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
}

.blog-box-text h3 
{
    color: #465675;
    cursor: pointer;
}

.blog-box-text p 
{
    color: #3d4b69;
    line-height: 1.5em;
}
.blog-box-image img {
    width: 100%;
    border-radius: 5px;
}
/* end blog */




 











/* start footer */
footer 
{
    background-color: #151c2e;
    background-image: url(../images/shape-a.png);
    background-size: cover;
    padding: 100px 0;
}

#footer-texts 
{
    border-bottom: 1px solid rgba(247, 248, 255, 0.1);
}

.footer-text h2 
{
    font-size: 28px;
    color: #fff;
    font-weight: 900;
}

.footer-text h2 span 
{
    color: #4B6691;
}

.footer-text p 
{
    color: #b2bfe0;
    line-height: 1.5em;
}

.footer-icon {
    background-color: #50658e;
    margin-right: 20px;
    color: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.footer-icon i
{
    margin-top: 8px;
    margin-left: 8px ;
}

.footer-text h5 
{
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.1em;
}
.footer-text ul li 
{
    list-style: none;
}
.footer-text ul li a 
{
    color: #b2bfe0;
    text-decoration: none;
}

.copyrights 
{
    color: #b2bfe0;
    font-size: 14px;
}

.footer-copyrights p 
{
    color: #b2bfe0;
    font-size: 13px;
    line-height: 1.5em;
}

.footer-copyrights .copyrights span {
    color: #fff;
    font-weight: bold;
}

.copyrights a {
    color: #b2bfe0;
    text-decoration: none;
}
                       
/* end footer */
































